#back_top div{
    position: absolute;
    margin: auto;
    right: 0px;
    left: 0px;
}
#back_top{
    /*background-color: #dddddd;*/
    height: 38px;
    width: 38px;
    border-radius: 3px;
    display: block;
    cursor: pointer;
    position: fixed;
    right: 50px;
    bottom: 100px;
    display: none;
}
#img_2_top{
    height: 50px;
    width: 50px;
}
#right{
	float: right;
}
#badge-right{
    float: right;
}
